.git
.github
.starweaver
.idea
.vscode

/target
/book
/.starweaver

**/node_modules
**/.pnpm-store
**/.vite
**/coverage

.env
.env.*
!.env.example

*.swp
*.swo
.DS_Store
__pycache__
*.py[cod]

/tmp
*.log
